body {
    margin: 0;
    padding: 0;
    background-image: url(/img/Fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body div img {
    height: 120px;
    width: 120px;
}




